<a href="https://colab.research.google.com/github/mrdixon52/DZ_Colab_1/blob/main/DZ_Colab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
df = pd.read_csv('sample_data/california_housing_train.csv')

# Задача 1
Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)

In [9]:
df[df['population'] <= 500].describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,1605.00000,1605.000000,1605.000000,1605.000000,1605.000000,1605.000000,1605.000000,1605.000000,1605.000000
mean,-119.95319,36.250536,30.740810,744.564486,152.542056,308.384424,122.087850,3.877711,206799.951402
std,2.05999,2.246843,13.691884,576.329719,115.851861,138.390674,64.855194,2.371571,131809.535969
min,-124.25000,32.570000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.95000,34.030000,19.000000,381.000000,84.000000,203.000000,72.000000,2.305600,103300.000000
50%,-120.16000,37.080000,32.000000,696.000000,139.000000,335.000000,124.000000,3.333300,169500.000000
75%,-118.18000,37.950000,42.000000,978.000000,190.000000,425.000000,166.000000,4.784500,275000.000000
max,-114.56000,41.820000,52.000000,7744.000000,1573.000000,500.000000,348.000000,15.000100,500001.000000

In [10]:
df[df['population'] <= 500].median_house_value.mean()

206799.95140186916

# Задача 2
Узнать какая максимальная households в зоне минимального значения population

In [25]:
df[df['population'] == df['population'].min()].households.max()

4.0